* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 1920px;
}

.container {
  background: url("img-first/Rectangle.png"), no-repeat;
  width: 1920px;
  height: 900px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.header-menu {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 220px;
}

.menu {
  width: 580px;
  height: 60px;
  margin: 40px 400px 220px 930px;
}

.header .menu ul {
  display: flex;
  list-style: none;
}

.header .menu ul li {
  padding-bottom: 40px;
  margin: 20px 10px;
}

li:hover {
  border-bottom: 2px solid #fff;
}

.header .menu ul a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px 40px 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: normal;
}

.name {
  display: flex;
  flex-direction: column;
}
.title-cite {
  width: 175px;
  height: 20px;
  margin: 0 870px 20px 870px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  opacity: 0.8;
}

.more-info {
  width: 830px;
  height: 110px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin: 0 540px 0 540px;
  font-style: normal;
  line-height: normal;
}

.btn {
  margin: 50px 860px 50px 860px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border: #4985ff;
  background-color: #4985ff;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
}
.services {
  width: 1110px;
  height: 490px;
}
.main-title {
  width: 740px;
  height: 90px;
  color: black;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 110px 590px 50px 590px;
  font-style: normal;
  line-height: normal;
}

.secondary-info {
  width: 730px;
  height: 40px;
  color: #999999;
  text-align: center;
  font-size: 16px;
  margin: 0 590px 70px 590px;
  font-style: normal;
}

.our-opportunities {
  display: flex;
  width: 1100px;
}

.services__item {
  display: flex;
  margin: 0 25px 55px 25px;
  width: 350px;
  height: 140px;
}

.services__item img {
  width: 110px;
  height: 110px;
}

.services__item h4 {
  margin: 45px 0 15px 15px;
  width: 226px;
  height: 23px;
  color: #000;
  font-size: 18px;
}

.explanation {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 158.47%;
  margin-left: 18px;
  width: 222px;
  height: 58px;
}

.item1 {
  margin-left: 405px;
}

.our-services .btn {
  margin: 0 860px 105px 860px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border: #4985ff;
  background-color: #4985ff;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.about-us {
  background-color: #f6f6f8;
  margin-top: 105px;
}

.main-info-about {
  display: flex;
}

.about-us__text h2 {
  width: 425px;
  height: 85px;
  font-size: 36px;
  font-weight: 700;
  margin: 150px 185px 40px 405px;
}

.high-standart {
  width: 490px;
  height: 85px;
  font-size: 16px;
  font-weight: 400;
  color: #999;
  margin: 40px 120px 30px 405px;
}

.about-us__text a {
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
  margin: 0 405px 350px 405px;
  color: #4985ff;
}

.image-service {
  width: 500px;
  height: 400px;
  margin: 100px 405px 90px 0;
}

.about_us__numbers {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  padding-bottom: 70px;
}

.numbers {
  display: flex;
  flex-direction: column;
}
.numbers-one {
  display: flex;
  margin-right: 100px;
}

.numbers img {
  width: 30px;
  height: 30px;
}

.our-numbers {
  width: 54px;
  height: 35px;
  color: #000;
  padding: 0 0 10px 10px;

  font-size: 36px;

  font-weight: 400;
}

.numbers p {
  width: 100px;
  height: 15px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
}
.subscribe {
  width: 730px;
  height: 177px;
  margin: 85px 595px;
}

.first-line-service {
  display: flex;
  width: 1920px;
  height: 490px;
  background: linear-gradient(90deg, #504dc2 0%, #5f12d0 100%), #c4c4c4;
}
.first-line-our {
  width: 540px;
  height: 90px;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  margin: 100px 370px 70px 405px;
  line-height: 150%;
}

.btn__item {
  margin: 120px 405px 90px 0;
  border-radius: 30px;
  border: #4985ff;
  background-color: #4985ff;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
  height: 45px;
}

.all-services__item {
  display: flex;
  justify-content: space-around;
  margin-top: -230px;
}

.item:not(:last-child) {
  margin: 0 15px 30px 0;
}
.item:last-child {
  margin-right: 405px;
}
.item:first-child {
  margin-left: 405px;
}

.img--item {
  width: 281px;
  height: 17px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  font-family: Montserrat;
  margin-top: 30px;
}
.item span {
  color: #4985ff;
  font-size: 18px;
  font-weight: 600;
}

.item p {
  width: 350px;
  height: 117px;
  color: #999;
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
  line-height: 158.47%;
}

.item a {
  color: #4985ff;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: underline;
  height: 20px;
  margin-bottom: 85px;
}

.all-projects {
  background-color: #f6f6f8;
}

.all-projects h2 {
  width: 350px;
  height: 35px;
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 146.28%;
  margin: 0 785px 50px 785px;
  padding-top: 100px;
}

.all-projects p {
  width: 730px;
  height: 40px;
  color: #999;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 158.47%;
  margin: 0 595px 70px 595px;
}

.image-projects {
  display: flex;
  justify-content: center;
}
.image-projects img:not(:last-child) {
  margin-right: 30px;
}

.btn_projects {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border: #4985ff;
  background-color: #4985ff;
  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin: 50px 860px 130px 860px;
}
.video {
  background: url("img-first/5.png"), no-repeat;
  width: 1920px;
  height: 570px;
  margin-bottom: 165px;
}

.video h2 {
  width: 444px;
  height: 35px;
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.28%;
  margin: 0 738px 30px 738px;
  padding-top: 70px;
}

.video p {
  width: 730px;
  height: 15px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 158.47%;
  margin: 0 595px 70px 595px;
}

.video-info {
  margin: 0 475px 85px 475px;
  width: 970px;
  height: 430px;
  position: relative;
  width: 50%;
}

iframe {
  width: 970px;
  height: 430px;
  flex-shrink: 0;
}

.video-info button {
  display: flex;
  width: 300px;
  height: 100px;
  border-radius: 200px;
  border: 1px solid #fff;
  margin: 165px 335px;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -200%);
  font-size: 16px;
  background-color: rgba(28, 28, 28, 0);
}
.video-info span {
  width: 150px;
  height: 19px;
  color: #fff;
  margin: 40px 30px 40px 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 158.47%;
}

.video-info img {
  width: 60px;
  height: 60px;
  margin: 20px 20px 20px 40px;
}

/*.line--cat {
  width: 1110px;
  height: 1px;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
}*/

hr {
  width: 1110px;
  height: 1px;
  color: #e0e0e0;
  margin: 0 405px;
}

.subscribe h3 {
  margin: 0 785px 20px 785px;
  padding-top: 85px;
  width: 350px;
  height: 17px;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.subscribe p {
  width: 730px;
  height: 15px;
  color: #999;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 158.47%;
  margin: 0 595px 30px 595px;
}

form {
  width: 489px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--f-2-f-2-f-2, #f2f2f2);
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  padding: 10px;
}

footer {
  background-color: #f6f6f8;
}

.footer__links {
  display: flex;
  justify-content: center;
}

.footer__links h3 {
  margin: 0 43px 35px 0;
  width: 242px;
  height: 17px;
  color: #000;

  font-size: 18px;

  font-weight: 600;
}

.footer__links1 {
  width: 250px;
  margin: 70px 30px 70px 405px;
}

.footer__links2 {
  width: 250px;
  margin: 70px 0 70px 30px;
}

.footer__links3 {
  width: 250px;
  margin: 70px 40px 70px 30px;
}

.footer__links4 {
  width: 250px;
  margin: 70px 415px 70px 0;
}

.footer__links p {
  color: #999;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 0 15px 0;
}
